<style type="text/css">
  #map-canvas{
    height:500px;
    width:65%;
    float:right;
    clear:none;
  }
  #markers{
    float:right;
    width:35%;
    clear:none;
  }
  .listingDetails h1{
    font-size:14px;
    margin:0px;
    padding:0px;
  }
  .marker-link{
    display:block;
  }
  .marker-link h1{
   font-size:14px;
    margin:2px;
    padding:5px;
    float:left;
    clear:right;
  }
  .marker-link p{
   font-size:12px;
    margin:2px;
    padding:5px;
   display: inline;
   float:left;

  }
  .marker-link img{
    width: 100px;
    float: left;
  }
</style>
<div id="index" class="container-fluid">

  <div class="row">

<div id="map-canvas"></div>
<table id="markers" class="table table-hover">

</table>

 
  </div>
</div>



   

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script type="text/javascript">
function initialize() {

    var markers = new Array();

    var mapOptions = {
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng(1, 1)
    };

    // var locations = [
    //     [new google.maps.LatLng(0, 0), 'Marker 1', 'Infowindow content for Marker 1'],
    //     [new google.maps.LatLng(0, 1), 'Marker 2', 'Infowindow content for Marker 2'],
    //     [new google.maps.LatLng(0, 2), 'Marker 3', 'Infowindow content for Marker 3'],
    //     [new google.maps.LatLng(1, 0), 'Marker 4', 'Infowindow content for Marker 4'],
    //     [new google.maps.LatLng(1, 1), 'Marker 5', 'Infowindow content for Marker 5'],
    //     [new google.maps.LatLng(1, 2), 'Marker 6', 'Infowindow content for Marker 6']
    // ];

    //  console.log(locations[0][0]);
    //  console.log(locations[0][1]);
    //  console.log(locations[0][2]);

    var locations = [];
    
    // var listingLatLng = <%= @alisting_coordinates %>;
    var listingTitles = <%= raw @listing_titles %>;
    //var lisintgDetails = <%= raw @listing_titles %>;

    // console.log(allLatLng);
    var lat = <%= @listing_lat %>;
    var lng = <%= @listing_lng %>;

    var listing_photos_url = <%= raw @listing_photos_url %>;
    var listing_zip = <%= raw @listing_details %>;
    //console.log(listing_photos_url);

    for(var i = 0; i < listingTitles.length; i++){
    
    var displayListingTitle = "<img src='" + listing_photos_url[i] + "'><h1>" + listingTitles[i] + "</h1><br><p>" + listing_zip[i] + "</p>";
      
    var displaylistingDetail = "<a class='listingDetails' href='#'><h1>" + listingTitles[i] + "</h1></a>";  

    locations[i] = [new google.maps.LatLng({lat:lat[i],lng:lng[i]}), displayListingTitle , displaylistingDetail]; 
    }


 // ############ CREATE MARKER ###############  

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var infowindow = new google.maps.InfoWindow();

    for (var i = 0; i < locations.length; i++) {

        // Append a link to the markers DIV for each marker
        $('#markers').append('<tr><td><a class="marker-link" data-markerid="' + i + '" href="#">' + locations[i][1] + '</a></td></tr> ');


        var marker = new google.maps.Marker({
            position: locations[i][0],
            center: locations[i][0],
            map: map,
            title: locations[i][1],
        });


        // Register a click event listener on the marker to display the corresponding infowindow content
        google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {

            return function () {
                infowindow.setContent(locations[i][2]);
                infowindow.open(map, marker);
                console.log("clicked marker")
            }

        })(marker, i));

        // Add marker to markers array
        markers.push(marker);
    }

    // Trigger a click event on each marker when the corresponding marker link is clicked
    $('.marker-link').on('mouseover', function () {

        google.maps.event.trigger(markers[$(this).data('markerid')], 'mouseover');
        console.log("clicked")
    });
}

initialize();  

</script>