<!DOCTYPE html>
<html>
<head>
  <title>AutoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    .btn-social-icon.btn-lg{
      width:100px;
    }
  </style>
</head>
<body class="royal_preloader scrollreveal">

  <div id="royal_preloader"></div>
  

  <!-- Begin Boxed or Fullwidth Layout -->
  <div id="bg-fullwidth">
      <div class="boxed" ng-app="app.controllers">

      <!-- Begin Header -->
      <header>

          <!-- Begin Navigation -->
          <div class="navbar-wrapper">
          <div class="navbar navbar-main `" id="fixed-navbar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 column-header">
                  <div class="navbar-header">
                    <!-- Brand -->
                    <a href="/autos" class="navbar-brand">
                      <div class="css-logo"></div>AUTOS APP
                    </a>
                    <!-- Mobile Navigation -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                  </div><!-- /navbar header -->   

                  <!-- Main Navigation - Explained in Documentation -->
                  <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown dropdown-main">
                           
                            <%= link_to "Dashboard", members_path %>
                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                            <li></li>
                            </ul>
                          </li>


                     
                      <li class="dropdown dropdown-main">
                           <%= link_to "Search", "http://localhost:3000/autos/search" %>
                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                            <li></li>
                            </ul>
                          </li>
                      <li class="dropdown dropdown-main">
                        <% if current_user %>
                            <%= link_to "Post Your Car" , new_member_path %>
                      <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                            <li></li>
                            </ul>
                        <% else %>
                            <%= link_to "Post Your Car" , "http://localhost:3000/users/sign_in" %>
                    <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                            <li></li>
                            </ul>        
                        <% end %>   
                          </li>

                      <li class="dropdown dropdown-main">
                        <% if current_user %>
                              
                            <a>Welcome back, <%= current_user.email%></a>
                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                            <li><%= link_to "Sign Out","http://localhost:3000/users/sign_out", method: :delete %></li>
                            </ul>
                        <% else %>    
                            <%= link_to "Sign In","http://localhost:3000/users/sign_in" %>
                      <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                            <li></li>
                            </ul>
                            <% end %>
                       
                         
                          </li>

                      <li class="dropdown dropdown-main">
                         <% if current_user = nil %>
                            
                             
                            <%= link_to "Register","http://localhost:3000/users/sign_up" %>     
                          <% end %>
                          </li>
                    
                                    </ul><!-- /search dropdown -->
                              </li><!-- /search navbar list item --> 
                    </ul><!-- /navbar right -->  
                  </nav><!-- /nav -->
                </div>
              </div>

            </div><!-- /container header -->   
          </div><!-- /navbar -->
        </div><!-- /navbar wrapper -->
        <!-- End Navigation -->   

      </header>
      <!-- End Header -->


    <!-- Begin Main Content -->
    <%= yield %>
    <!-- End Main Content -->


      <!-- Begin Footer -->
      <footer class="footer-light" ng-controller="searchByMakeCtrl">
          <div class="container">
              <div class="row">

                  <!-- About -->
                  <div class="col-sm-4">
                      <div class="heading-footer"><h4>About</h4></div>
                      <p>Auto App is a car listing site that focus on ease of use for veiwers and users. It uses a minimal design to remove clutter of info with sleeker design. Easy listing form with quick guide and examples for first time listing client. Map / List view option for viewers to see listing in different format. </p>

                  </div>
                  
                  <!-- Social -->
                  <div class="col-sm-4 mg25-xs">
                      <div class="heading-footer"><h4>Search By Make</h4></div>
                      <a href="http://localhost:3000/autos/search-results" class="btn btn-social-icon btn-twitter btn-lg">
                          <i class="fa fa-twitter">Acura</i>
                      </a>
                      <a href="http://localhost:3000/autos/search-results" class="btn btn-social-icon btn-instagram btn-lg">
                          <i class="fa fa-instagram" >Bmw</i>
                      </a>
                      <a href="http://localhost:3000/autos/search-results" class="btn btn-social-icon btn-facebook btn-lg">
                          <i class="fa fa-facebook" >Chevy</i>
                      </a>
                      <a href="http://localhost:3000/autos/search-results" class="btn btn-social-icon btn-vimeo btn-lg">
                          <i class="fa fa-vimeo-square" ng-click="getResults('Dodge')">Dodge</i>
                      </a>
                      <a href="http://localhost:3000/autos/search-results" class="btn btn-social-icon btn-linkedin btn-lg">
                          <i class="fa fa-linkedin" >Ford</i>
                      </a>
                      <a href="http://localhost:3000/autos/search-results" class="btn btn-social-icon btn-google-plus btn-lg">
                          <i class="fa fa-google-plus" >GMC</i>
                      </a>

                  </div>

                  <!-- Contact -->
                  <div class="col-sm-4 mg25-xs">
                      <div class="heading-footer"><h4>Contact us</h4></div>
                      <p><span class="ion-home footer-info-icons"></span><small class="address">Allen CW Wong</small></p>
                      <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:allencwwong@gmail.com">allencwwomg@gmail.com</a></small></p>
                      <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">415.298.3328</small></p>
                  </div>

                  <!-- Recent Work -->

              </div><!-- /row -->

              <!-- Copyright -->
              <div class="row">
                  <hr>
                  <div class="col-sm-11 col-xs-10">
                      <p class="copyright">© 2015 Acww. All rights reserved. Auto App by <b>Allen Wong</b>.</p>
                  </div>
                  <div class="col-sm-1 col-xs-2 text-right">
                      <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
                  </div>
              </div><!-- /row -->
              
          </div><!-- /container -->
      </footer><!-- /footer -->
      <!-- End Footer --> 

    </div><!-- /boxed -->
  </div><!-- /bg boxed-->
  <!-- End Boxed or Fullwidth Layout -->
  
  <!-- Javascript Files -->

  <!-- On Scroll Animations - scrollReveal.js -->
    <script>
    var config = {
    easing: 'hustle',
    mobile:  true,
    delay:  'onload'
    }
    window.sr = new scrollReveal( config );
    </script>

  <!-- Slider Revolution JS -->

  <!-- Slider Revolution Extensions (Load Extensions only on Local File Systems The following part can be removed on Server for On Demand Loading) -->  


  <!-- Slider Revolution Main -->
  <script type="text/javascript">
  jQuery(document).ready(function() { 
     jQuery("#slider1").revolution({
          sliderType:"standard",
          startDelay:2500,
          spinner:"spinner2",
          sliderLayout:"auto",
          viewPort:{
             enable:false,
             outof:'wait',
             visible_area:'100%'
          }
          ,
          delay:9000,
      navigation: {
        keyboardNavigation:"off",
        keyboard_direction: "horizontal",
        mouseScrollNavigation:"off",
        onHoverStop:"off",
        arrows: {
          style:"erinyen",
          enable:true,
          hide_onmobile:true,
          hide_under:600,
          hide_onleave:true,
          hide_delay:200,
          hide_delay_mobile:1200,
          tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div> <span class="tp-arr-titleholder">{{title}}</span> </div>',
          left: {
            h_align:"left",
            v_align:"center",
            h_offset:30,
            v_offset:0
          },
          right: {
            h_align:"right",
            v_align:"center",
            h_offset:30,
            v_offset:0
          }
        }
        ,
        touch:{
          touchenabled:"on",
          swipe_treshold : 75,
          swipe_min_touches : 1,
          drag_block_vertical:false,
          swipe_direction:"horizontal"
        }
        ,
        bullets: {
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  style:"hermes",
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  direction:"horizontal",
                  h_align:"center",
                  v_align:"bottom",
                  h_offset:0,
                  v_offset:30,
                  space:5
        }
      },
      gridwidth:1240,
      gridheight:497 
      }); 
  }); 
  </script>
</body>
</html>